labs/lab4-athena-query-s3-events/step-function-studio/workflow.asl.yaml
Comment: A description of my state machine
StartAt: ReadEventData
States:
  ReadEventData:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: laab4-read-event-data
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: IsExternalVerificationType
  IsExternalVerificationType:
    Type: Choice
    Choices:
      - Variable: $.stateInput.VerifiedTransactionType
        BooleanEquals: true
        Next: QueryAccountRequestid
    Default: QueryAccountBalances
  QueryAccountRequestid:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: lab4_query_account_requestid
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: QueryAccountBalances
  QueryAccountBalances:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: lab4_query_account_balances
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
